{% extends 'base/header.html.twig' %}
{% block content %}
<html>

<head>
</head>

<body>
<br/><br/><br/><br/><br/>
<section class="main_contact_section sec_ptb_100 clearfix">
				<div class="container">
					<div class="row justify-content-lg-between">

						<div class="col-lg-5">
							<div class="main_contact_content">
								<h3 class="title_text mb_15">Get In Touch</h3>
								<p class="mb_50">
									If you are interested in working with us, please get in touch.
								</p>
								<ul class="main_contact_info ul_li_block clearfix">
									<li>
										<span class="icon">
											<i class="fal fa-map-marked-alt"></i>
										</span>
										<p class="mb-0">
											75 South Park Avenue, Melbourne, Australia
										</p>
									</li>
									<li>
										<span class="icon">
											<i class="fal fa-phone-volume"></i>
										</span>
										<p class="mb-0">8 800 567.890.11 - Central Office</p>
									</li>
									<li>
										<span class="icon">
											<i class="fal fa-paper-plane"></i>
										</span>
										<p class="mb-0">Jthemes@gmail.com</p>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-7">
							<div class="main_contact_form">
								<h3 class="title_text mb_30">Envoyez nous un message</h3>
								{# <form action="#"> #}
								 {% block body %} 
     									{{ form_start(form) }}
									<div class="row">
										<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
											<div class="form_item">
												{# {{form_row(form.name)}} #}
											</div>
										</div>

										<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
											<div class="form_item">
												{# {{form_row(form.email)}} #}
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
											<div class="form_item">
												{# {{form_row(form.contact)}} #}
											</div>
										</div>

										
									</div>

									<div class="form_item">
										
										{# {{form(form.description)}} #}
									</div>
									{# <button type="submit" class="custom_btn bg_default_red text-uppercase">view projects</button> #}
								{# </form> #}
								
								 
								{{ form_end(form) }}
								<button class="btn-danger" type="submit" style="padding: 5px 15px;">Envoyer</button>
{% endblock %}

								
    
   

							</div>
						</div>
						
					</div>
				</div>
			</section>
</body>
<style>
    /* Styles pour les formulaires */
    form {
        background-color: #eee;
        padding: 20px;
        border-radius: 10px;
    }
    /* Styles pour les champs de formulaire */
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }
	label{
		display: block !important;
	}
	textarea {
        width: 100%;
}
	    /* Styles pour les boutons de formulaire */
    input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        border: 0;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

</html>
{% endblock %}