

<html>

<body>
	<section class="cards flex-column">
		<div class="card card-one">
			<div class="card-header">
				<h2>
              
 
 

 
 
					<span id="green"> Bonjour Mr/Mme {{name}} </span>
					
				</h2>
              
				
			</div>
              <span> <u>Info sur la safer :</u> </span>
			<ul class="list">
				<li class="item"> {{titre}}</li>
				<li class="item">{{surface}}</li>
				<li class="item">{{ville}}</li>
				<li class="item">{{code_ville}} </li>
                <li class="item">{{disponibilite == 1  ? "a louer": "en vente"}}</li>
				 <li class="item">{{categorie}}</li>
				  <li class="item">{{categorie_slug}}</li>

			</ul>
			
			</body>
		<!-- BUY ME A COFFEE AND HELP SUPPORT OPEN-SOURCE RESOURCES -->

 
 

