

<html>

<body>
	<section class="cards flex-column">
		<div class="card card-one">
			<div class="card-header">
				<h2>
              
 
 

 
 
					<span id="green"> Bonjour Mr/Mme {{name}} </span>
					
				</h2>
              
				
			</div>
			
              <span> <u>Info sur la safer :</u> </span>

{% for car in cart %}
    {% for categori in categorie %}
        {% if categori.id == car.getCategorie.id %}
            {% set nomCat = categori.nom %}
           <li class="item">{{ nomCat }}</li>
        {% endif %} 
    {% endfor %}
    <ul class="list">
        <li class="item">{{ car.titre }}</li>
        <li class="item">{{ car.surface }}</li>
        <li class="item">{{ car.postal }}</li>
        <li class="item">{{ car.ville }}</li> 
        <li class="item">{{ car.isStatus == false ? "a louer" : "en vente" }}</li>
        
        {# <li class="item">{{ car.categorie_slug }}</li> #}
        <li class="item">{{ car.descriptif }}</li>
    </ul>
{% endfor %}




			</body>
		<!-- BUY ME A COFFEE AND HELP SUPPORT OPEN-SOURCE RESOURCES -->

 
 

